/* main header */
#header {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    padding: 0 5rem 0 5rem;
    font-family: overpass;
    top: 0;
    position:sticky;
    z-index: 1000;
    max-height: 100px;
}
.header-shadow {
    box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom, #000000, #222222);
}

/* navigation */
#main-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
    color: #fff;
}
#main-nav {
    margin-left: auto;
}

.socials-img {
    width: 50px;
    height: 50px;
}

#ghLogo {
    width: 44px;
    height: 44px;
}
#socials {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.nav-item:hover {
    cursor: pointer;
    color: #3795BD;
}
/* logo */
#bracket-top {
    font-size: 5em;
    color: #fff;
}
.logo-top { 
    padding-left: 1%;
    color: #3795BD;
    font-size: 4rem;
    font-weight: 600;
    cursor: pointer;
}
#underscore {
    animation: blink 1s step-start infinite;
}

#lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-left: 5%;
}
#lang img{
    height: 20px;
    width: 20px;
}
/* animations */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media only screen and (max-width: 480px) {
    #socials img {
        width: 30px;
        height: 30px;
    }

    #lang img {
        width: 22px;
        height: 22px;
    }
    #header {
        padding: 0 2%;   
    }
    #socials {
        margin-right: 0;
    }
}
