#skills {
    font-family: open sans;
    margin-top: 5%;
    color: #fff;
}

#skills h2 {
    color: #fff;
    text-align: center;
}

#skills h3 {
    text-align: center;
    color: var(--blue);
}

#skills-sections {
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    gap: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

#skills p {
    text-align: center;
}
ul {
    list-style: square;
}

@media only screen and (max-width: 1030px) {
    #skills-sections {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
    }
    ul {
        padding: 0 0 0 1.2em;
    }
}

@media only screen and (max-width: 480px) {
    #skills-sections {
        grid-template-columns: 1fr;
        width: 80%;
    }
}