@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    overflow-x: hidden;
    background: linear-gradient(to bottom, #000000, #333333);
}

#main-container {
    width: 80%;
    margin: 0 auto;
    font-family: open sans;
    display: flex;
    flex-direction: row;
    justify-content: space-evenlys;
    align-items: center;
    height: 80vh;
}
.text-content {
    padding-left: 10rem;
    height: 15em;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    animation: fadeInOut 2s ease-in;
}
.text-content h1 {
    color:  var(--blue);
    margin: 0;
}
.text-content p {
    font-size: 1.5em;
    
}

#main-img {
  height: 100vh;
}
/* scroll arrow */
#scroll-down-arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 30px;
  height: 30px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade-move-down 4s ease-in-out infinite;
  -moz-animation:    fade-move-down 4s ease-in-out infinite;
  animation:         fade-move-down 4s ease-in-out infinite;
}

/*animations for arrow */
@-webkit-keyframes fade-move-down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade-move-down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade-move-down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* slide animation for projects section */
#main-container, #hidden-areas {
  transition: transform 0.4s ease-out;
}

.slide-out {
  transform: translate(-100%);
}
/* hidden areas */
.hidden {
    display: none;
}

/* name nimation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* button*/
#main-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(45deg, #007bff, #00d4ff);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 123, 255, 0.4);
}

button:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #0056b3, #008cff);
  box-shadow: 0px 6px 20px rgba(0, 123, 255, 0.6);
}

button:active {
  transform: scale(0.98);
}

/* responsiveness*/
@media only screen and (max-width: 1300px) {
  #main-img {
    width: 100vw;
    height: 100vh;
  }
  .text-content h1 {
    margin-top: 0;
  }
  .text-content p {
    font-size: 1.2em;
  }
  .text-content {
    width: 50em;
    padding: 0;
  }
}

@media only screen and (max-width: 1230px) {
  #main-img {
    width: 100vw;
    height: 100vh;
  }
  .text-content h1 {
    margin-top: 0;
  }
  .text-content p {
    font-size: 1.2em;
  }
  .text-content {
    padding:0;
    width: 30em;
  }
}

@media only screen and (max-width: 1150px) {
  #main-img {
    width: 100vw;
    height: 100vh;
  }
  .text-content h1 {
    margin-top: 0;
  }
  .text-content p {
    font-size: 1.2em;
  }
  .text-content {
    padding:0;
    width: 30em;
  }
}

@media only screen and (max-width: 980px) {
  #main-container {
    display: flex;
    flex-direction: row;
    gap: 5em;
  }
  .text-content {
    display: flex;
    flex-direction: column;
  }
  #main-img {
    max-width: 400px;
    max-height: 500px;
    margin-bottom: 6em;
  }
  .text-content h1 {
    margin-top: 0;
  }
  .text-content p {
    font-size: 1em;
  }
  .text-content h1 {
    font-size: 1.8em;
  }
  #main-btn {
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  #main-img {
      width: 100vw;
      height: 100vh;
  }
  .text-content p {
    font-size: 1em;
  }
  .text-content h1 {
    margin-top: 0;
    font-size: 2em;
  }
  .text-content {
    padding:0;
  }
  #main-btn {
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
  }
  #main-container {
    gap: 0;
  }
}

@media only screen and (max-width: 640px) {
  #main-img {
      width: 400px;
      height: 500px;
      margin: 0;  
  }
  .text-content p {
    font-size: 1em;
  }
  .text-content h1 {
    margin-top: 0;
    font-size: 2em;
  }
  .text-content {
    align-items: center;
    justify-content: end;
  }
  #main-btn {
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
  }
  #main-container {
    gap: 0;
    flex-direction: column;
    align-content: center;
  }
}

@media only screen and (max-width: 480px) {
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
    padding-left: 1em;
  }
  #main-img {
      width: 300px;
      height: 300px;
      margin: 0;
  }
  .text-content {
    text-align: center;
    padding: 0;
    align-items: center;
  }
  .text-content p {
    font-size: 1em;
  }

   #scroll-down-arrow {
       left: 47%;
   }

  .text-content h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 360px) {
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
    margin-left: 1em;
  }
  #main-img {
      width: 200px;
      height: 200px;
      margin: 0;
  }
  .text-content {
    text-align: center;
    padding: 0;
    align-items: center;
    margin-bottom: 1em;
  }
  .text-content p {
    font-size: 1em;
  }

   #scroll-down-arrow {
       left: 47%;
   }

  .text-content h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
  }
}



